body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/d96bb958-4e6c-4ce0-9447-fbe226fbbecf/dh7kiyl-75225dc9-6a1e-4805-b265-704a20acf70d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: #33ff20;
  text-align: center;
  width: 1040px;
  border-radius: 20px;
  margin: auto;
  background-image: linear-gradient(to right, #ff0000, #fbff00);
  padding: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.box {
  width: 1000px;
  height: 600px;
  background-color: #000000;
  margin: auto;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  background-image: linear-gradient(to right, #00f7ff, #2d09094a);
}

.box-img {
  width: 400px;
  height: 300px;
  background-color: #00eaff;
  margin-right: 40px;
  border-radius: 10px;
  margin-top: 50px;
  object-fit: cover;
  /* border: 1px solid rgba(225, 255, 255, 0.3); */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/* .box-img img {
      width: 100%;
      height: 100%;
      
    } */

.info {
  width: 600px;
  height: 300px;
  background-color: #ff0000;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 150px;
  background-image: linear-gradient(to right, #ff00d4, #ff2323);
  padding: 20px;
  box-sizing: border-box;
}

/* Social Media Styles */
.social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-item img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.social-item a {
  font-family: 'Trebuchet MS', sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

marquee {
  position: sticky;
  bottom: 0;
  font-size: 14pt;
  font-family: Khmer OS Muol Light;
  background-image: linear-gradient(to right, red, blue);
  margin-top: 40px;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
