* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: koulen, cursive;
}

.menu {
  background: #333;
  
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  background: #555;
}

/* First dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #444;
}

.dropdown ul {
  display: block;
}

.dropdown ul li a {
  width: 150px;
}

/* Show dropdown on hover */
.menu ul li:hover .dropdown {
  display: block;
}

/* Sub dropdown */
.subdropdown {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #000000;
}
.subdropdown ul li a:hover {
  background: #eaeaea6c;
}
/* Show subdropdown */
.dropdown ul li:hover .subdropdown {
  display: block;
}
