body {
  font-family: 'Times New Roman', serif;
  background: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: koulen;
}

table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #555;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  font-family: koulen, cursive;
}

thead th {
  background-color: rgb(0, 247, 255);
  color: black;
  font-weight: bold;
}

.photo img {
  width: 60px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #333;
  border-radius: 10px;
}
.photo:hover {
  opacity: 70%;
  cursor: pointer;
  transition: 0.5s;
}

.result {
  font-size: 18px;
}

.action a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

tfoot td {
  background-color: rgb(0, 255, 47);
  font-size: 18px;
  font-weight: bold;
  font-family: koulen;
}
